.header,
.content,
.product-details,
.shopping-cart {
  border: 1px solid white;
  width: 90%;
}

.product-details {
  width: 70%;
  padding: 20px;
  text-align: center;
}

.product-details span {
  background-color: gold;
  display: inline-block;
  width: 15%;
  line-height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 5px;
}

.shopping-cart {
  padding: 15px;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.cart-items .card {
  margin: 5px auto;
}

.cart-items .remove {
  position: absolute;
}

.cart-items .img {
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 5px;
}

.cart-items .img:hover {
  /* transform: scale(0.9); */
  box-shadow: inset 1px 1px 15px black;
}