
.header,
.content,
.product-details,
.shopping-cart{
  border: 1px solid white;
  width: 90%;
}

.product-details {
  width: 70%;
  padding: 20px;
  text-align: center;
}

.product-details span{
  background-color: gold;
  display: inline-block;
  width: 15%;
  line-height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 5px;
}

.shopping-cart{
  padding: 15px;
}