body {
  margin: 0;
  box-sizing: border-box;
  background-image: url(../public/background.jpg);
  background-size: 100%;
  color: white !important;
}

div {
  border-radius: 10px;
  margin: 3px auto;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

div#root {
  min-height: 100vh;
}

.header,
.content{
  border: 1px solid white;
  width: 90%;
}

.product-details {
  border: 1px solid white;
  width: 60%;
  padding: 20px;
  text-align: center;
}

.product-details span{
  background-color: gold;
  display: inline-block;
  width: 15%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 5px;
}