body {
  margin: 0;
  box-sizing: border-box;
  background-image: url(../public/background.jpg);
  background-size: 100%;
  color: white !important;
}

div {
  border-radius: 10px;
  margin: 3px auto;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

div#root {
  min-height: 100vh;
}
